<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zomwi.ii"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/nombre_app"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ActivosActivity"
            android:label="@string/activos" >
        </activity>
        <activity
            android:name="AmbientesActivity"
            android:label="Ambientes" >
        </activity>
        <activity
            android:name="NuevoActivoActivity"
            android:label="@string/nuevo_activo" >
        </activity>
        <activity android:name="RegistroActivity" >
        </activity>
        <activity android:name="CambiarEstadoActivity" >
        </activity>
        <activity android:name="PrestarActivity" >
        </activity>
        <activity
            android:name="ActivoActivity"
            android:label="@string/activo" >
        </activity>
        <activity android:name="LoginActivity" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zomwi.ii.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>